<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./css/default.css">
    <script src="./js/MONDAI_NI_KANKEINAI_JS.js"></script>
    <script src="./js/alert1.js"></script>
</head>

<body>
    <div id="container">
        <div class="sentence">
            ５つの表示されたボタンの中に正解のボタンが２つあります。<br>
            正解のボタンを押下するとアラートで「正解」と表示されます。<br>
            不正解の場合は何もアクションがありません。<br>
            ※ボタンを2回クリックすると終了画面に遷移します。<br>
            <span class="hinto">ヒント：検証ツールからhtml,jsファイルを読取りalertの発火ポイントを探す</span>
        </div>
        <button id="button1">ボタン1</button>
        <button id="button2">ボタン2</button>
        <script src="./js/alert2.js"></script>
        <button id="button3">ボタン3</button>
        <script src="./js/alert3.js"></script>
        <button id="button4">ボタン4</button>
        <button id="button5">ボタン5</button>
        <script src="./js/alert4.js"></script>
        <script src="./js/alert5.js"></script>
        <script>
            alert3();
            alert4();
        </script>
    </div>
</body>

</html>