@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #020929;
    font-family: 'Black Ops One', cursive
}

h2 {
    margin: 0;
    color: #fff;
}

.passwordBox {
    width: 400px;
    margin: auto;
    margin-top: 280px;
}

input[name=password] {
    margin: 0;
    width: 280px;
    height: 20px;
    border-radius: 10px;
    font-size: 24px;
}

.dispControlButton {
    display: block;
    margin: 0;
    padding: 0;
    border-radius: 10px;
    font-size: 16px;
    color: #fff;
}