<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../css/naviSelect/naviSelect.css">
    <title>ナビゲーション選択</title>
    <script src="../../js/naviSelect/naviSelect.js"></script>
</head>
<body>
    <div class="container">
        <ul class="navi">
            <li class="globalNavi" data-navi="top"><span class="naviTitle">TOP</span></li>
            <li class="globalNavi" data-navi="like"><span class="naviTitle">お気に入り</span></li>
            <li class="globalNavi" data-navi="category"><span class="naviTitle">カテゴリー</span></li>
            <li class="globalNavi" data-navi="coram"><span class="naviTitle">コラム</span></li>
            <li class="globalNavi" data-navi="company"><span class="naviTitle">会社概要</span></li>
        </ul>
    </div>
</body>
</html>