<!DOCTYPE html>
<html>
    <head>
        <title>password</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../../css/passwordDispControl/passwordDispControl.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,400,0,0" />    </head>
    <body>
        <div class="passwordBox">
            <h2>type password</h2>
            <form>
                <input type="password" name="password">
                <span id="dispControl" class="material-symbols-outlined dispControlButton">visibility</span>
            </form>
        </div>
        <script src="../../js/passwordDispControl/passwordDispControl.js"></script>
    </body>
</html>