<!DOCTYPE html>
<html>
<head>
    <title>sigunature</title>
    <meta charset="utf-8">
    <script src="https://cdn.jsdelivr.net/npm/signature_pad@4.1.6/dist/signature_pad.umd.min.js"></script>
</head>
<body>
    <div>
        <div class="signaturBox">
            <canvas id="signaturePad" width="600" height="600"></canvas>
        </div>
        <div class="clearBox">
            <button id="clearButton">clear</button>
        </div>
    </div>
    <script src="../../js/sigunature/sigunature.js"></script>
</body>
</html>